body{
  background-color: #B0B2B8;
  color: white;
  border-radius: 15px;
}

.container{
  background-color: #797596;
  width: 90%;
  /*padding:auto;*/
  margin: auto;
  text-align:center;
  border-radius: 15px;

}

header {
  padding: 10px;
}
.image{
  background-color: white;
  margin: 25px 100px;
  border-radius: 15px;
}

.image-description{
  padding: 10px;
}
img {
  padding: 10px;
  border-radius: 15px;
}

p{
  color: black;
  margin: 10px;
  padding: 1px;
}

.timeline{
  background-color: white;
  margin: 25px 100px;
  padding: 10px;
  border-radius: 15px;
}

.quote{
  background-color: white;
  margin: 25px 100px;
  padding: 10px;
  border-radius: 15px;
}

.link{
  background-color: white;
  margin: 25px 100px;
  padding: 10px;
  border-radius: 15px;
}
 h1{
  font-size: 60px;
 }
